<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Pathfinder</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="styles/bootstrap.min.css">

    <link rel="stylesheet" href="styles/importer.css">

</head>

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <div id="intro">
        <div class="container">
          <a href="#" id="logo"><img src="images/logo.png" alt="Pathfinder Analysts" /></a>
          <h1>RESEARCH AND EXPERT KNOWLEDGE TO<br>
          LEAD YOU DOWN THE RIGHT PATH</h1> 
          <p>Pathfinder Analysts provides you with expert advice and research articles around Information Security, <br>
          Cloud Computing and Social Networking. </p>  
        </div>
        <!-- /container -->
    </div>
    <!-- /intro -->

    <div id="get-notified" class="item-row">
      <div class="container">
        <h2>COMING SOON</h2>
        <P>Get notified when we are ready!</P>
        <div class="row">
          <form>
            <div class="form-group col-md-3 col-sm-12 col-xs-12">
              <label class="sr-only" for="inputFirstname">First Name</label>
              <input type="text" class="form-control" id="inputFirstname" placeholder="First name">
            </div>
            <div class="form-group col-md-3 col-sm-12 col-xs-12">
              <label class="sr-only" for="inputLastname">Last Name</label>
              <input type="text" class="form-control" id="inputLastname" placeholder="Last name">
            </div>
            <div class="form-group col-md-3 col-sm-12 col-xs-12">
              <label class="sr-only" for="inputEmail">Email</label>
              <input type="email" class="form-control" id="inputEmail" placeholder="Email">
            </div>
            <div class="form-group col-md-3 col-sm-12 col-xs-12">
              <label class="sr-only" for="inputCompanyName">Company</label>
              <input type="text" class="form-control" id="inputCompanyName" placeholder="Company">
            </div>
            
            <button type="submit" class="btn">Submit</button>
          </form>
        </div>
      </div>
    </div>

    <div id="become-analyst" class="item-row">
      <div class="container">
        <h2>BECOME AN ANALYST</h2>
        <P>Lorem ipsum dolor sit amet</P>

        <!-- Button trigger modal -->
        <button type="button" class="btn" data-toggle="modal" data-target="#becomeAnalystModal">Sign up</button>
      </div>
    </div>

    <!-- Become an Analyst Modal -->
    <div class="modal fade" id="becomeAnalystModal" tabindex="-1" role="dialog" aria-labelledby="becomeAnalystModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times"></i></span></button>
            <h4 class="modal-title" id="becomeAnalystModalLabel">Sign up to become an analyst</h4>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group col-md-6">
                <label for="firstname">First Name</label>
                <input type="text" class="form-control" id="firstname" placeholder="">
              </div>
              <div class="form-group col-md-6">
                <label for="lastname">Last Name</label>
                <input type="text" class="form-control" id="lastname" placeholder="">
              </div>
              <div class="form-group col-md-6">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" placeholder="">
              </div>
              <div class="form-group col-md-6">
                <label for="phone">Phone</label>
                <input type="text" class="form-control" id="phone" placeholder="">
              </div>
              <div class="form-group col-md-6">
                <label for="location">Location</label>
                <input type="text" class="form-control" id="location" placeholder="">
              </div>
              <div class="form-group col-md-6">
                <label for="writingExperience">Writing Experience</label>
                <select class="form-control" id="writingExperience">
                  <option>Select</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
              <div class="form-group col-md-12">
                <label for="specialties">Specialties</label>
                <div class="checkbox col-md-6">
                  <label>
                    <input type="checkbox" value="">
                    Cloud computing
                  </label>
                </div>
                <div class="checkbox col-md-6">
                  <label>
                    <input type="checkbox" value="">
                    Identity & Access Management
                  </label>
                </div>
                <div class="checkbox col-md-6">
                  <label>
                    <input type="checkbox" value="">
                    Network Security
                  </label>
                </div>
                <div class="checkbox col-md-6">
                  <label>
                    <input type="checkbox" value="">
                    Cloud computing
                  </label>
                </div>
                <div class="checkbox col-md-6">
                  <label>
                    <input type="checkbox" value="">
                    Identity & Access Management
                  </label>
                </div>
                <div class="checkbox col-md-6">
                  <label>
                    <input type="checkbox" value="">
                    Network Security
                  </label>
                </div>
              </div>
              <div class="button-holder">
                <button type="submit" class="btn">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div id="stay-connected" class="item-row">
      <div class="container">
        <h2>STAY CONNECTED</h2>
        <P>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nis.</P>
        <ul>
          <li>
            <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
          </li>
          <li>
            <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
          </li>
          <li>
            <a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
          </li>
          <li>
            <a class="email" href="#" data-toggle="modal" data-target="#contactModal"><i class="fa fa-envelope"></i></a>
          </li>
        </ul>
      </div>
    </div>

    <!-- Contact Modal -->
    <div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="becomeAnalystModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times"></i></span></button>
            <h4 class="modal-title" id="becomeAnalystModalLabel">CONTACT US</h4>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="contactName">Your Name</label>
                <input type="text" class="form-control" id="contactName" placeholder="">
              </div>
              <div class="form-group">
                <label for="contactSubject">Subject</label>
                <input type="text" class="form-control" id="contactSubject" placeholder="">
              </div>
              <div class="form-group">
                <label for="contactMessage">Message</label>
                <textarea class="form-control" rows="8"></textarea>
              </div>
              <div class="button-holder">
                <button type="submit" class="btn">Send</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div id="footer">
      <div class="container">
        <p>© 2015 Pathfinder Analysts</p>
      </div>
    </div>

    <script src="js/built.min.js"></script>
</body>

</html>
